<div class="container-fluid mt-5 w-75">
  

<div class="card-deck">
  <div class="card">
    <img src="th.jpg" style="max-height:220px;" class="card-img-top" alt="pika">
    <div class="card-body">
      <h5 class="card-title">Pokemon Quiz</h5>
      <p class="card-text">This quiz will tell you which pokemon you are based on the beer you like!</p>
       <a href="/quiz" class="btn btn-primary">Take the Quiz!</a>
       </div>
  </div>
  <div class="card">
    <img src="beer-flight.jpg" style="max-height:220px;" class="card-img-top" alt="map">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="/search" class="btn btn-primary">Search!</a>
        </div>
  </div>
  <div class="card">
    <img src="beer-flight.jpg" style="max-height:220px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{trending}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<script src="/js/index.js"></script>
<style>
  .card-body {
    background-color: rgba(256, 256, 256, 0.3);
  }
  .card {
   
    background-color: rgba(256, 256, 256, 0.7);
  }
</style>