<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
<br>
        <div class="card">
          <div class="card-body">
            Trending Beers
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-4 offset-2">
        <div class="card" style="width: 16rem;">
          <img src="th.jpg" class="card-img-top" alt="pika">
          <div class="card-body">
            {{!-- <h5 class="card-title">Card title</h5> --}}
            <p class="card-text">This is the quiz.. blah blah</p>
            <a href="/quiz" class="btn btn-primary">Take the Quiz!</a>
          </div>
        </div>
      </div>
      <div class="col-4 offset-1">
        <div class="card" style="width: 16rem;">
          <img src="thjhg.jpg" class="card-img-top" alt="location">
          <div class="card-body">
            {{!-- <h5 class="card-title">Card title</h5> --}}
            <p class="card-text">Search beers and breweries </p>
            <a href="/search" class="btn btn-primary">Search!</a>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>

<script src="/js/index.js"></script>