<div id="quiz">
    <div class="container">
        <div class="col-lg-10">
              <div class="container" id="questionsForm">
                    <!-- Question One -->
                    <h3><strong>Question 1</strong></h3>
                    <h5><strong>Do you like fruity?</strong></h5>
                    <select class="chosen-select" id="quest1" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Two -->
                    <h3><strong>Question 2</strong></h3>
                    <h5><strong>Do you like Hops?</strong></h5>
                    <select class="chosen-select" id="quest2" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Three -->
                    <h3><strong>Question 3</strong></h3>
                    <h5><strong>Do you like Malt?</strong></h5>
                    <select class="chosen-select" id="quest3" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Four -->
                    <h3><strong>Question 4</strong></h3>
                    <h5><strong>Do you like funky?</strong></h5>
                    <select class="chosen-select" id="quest4" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Five -->
                    <h3><strong>Question 5</strong></h3>
                    <h5><strong>Do you like alcohol?</strong></h5>
                    <select class="chosen-select" id="quest5" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Six -->
                    <h3><strong>Question 6</strong></h3>
                    <h5><strong>Do you like the taste of barrel?</strong></h5>
                    <select class="chosen-select" id="quest6" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Seven -->
                    <h3><strong>Question 7</strong></h3>
                    <h5><strong>Do you like sour flavor?</strong></h5>
                    <select class="chosen-select" id="quest7" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Eight -->
                    <h3><strong>Question 8</strong></h3>
                    <h5><strong>Do you like salty flavor?</strong></h5>
                    <select class="chosen-select" id="quest8" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Nine -->
                    <h3><strong>Question 9</strong></h3>
                    <h5><strong>Do you like bitter flavor?</strong></h5>
                    <select class="chosen-select" id="quest9" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <br>
                    <br>
                    <!-- Question Ten -->
                    <h3><strong>Question 10</strong></h3>
                    <h5><strong>Do you like sweet flavor?</strong></h5>
                    <select class="chosen-select" id="quest10" required>
                        <option value="">Select an Option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                </div>
                <br>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block submit" id="submit" data-toggle="modal"
                    data-target="#results-modal"><i class='fas fa-hands-helping' style='font-size:20px'></i> Submit
                    Answers</button>

        </div>
    </div>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/quiz.js"></script>
