<div id="quiz">
    <div class="container">
        <div class="col-lg-8">

            <div class="jumbotron">
                <h1 class="display-4">Beer Quiz!!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention to featured content or information.</p>
            
            
            </div>
            <div class="container" id="questionsForm">
                <!-- Question One -->
                <h3><strong>Question 1</strong></h3>
                <h5><strong>Do you like fruity?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest1">
                <br>
                <br>
                <!-- Question Two -->
                <h3><strong>Question 2</strong></h3>
                <h5><strong>Do you like Hops?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest2">
                <br>
                <br>
                <!-- Question Three -->
                <h3><strong>Question 3</strong></h3>
                <h5><strong>Do you like Malt?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest3">
                <br>
                <br>
                <!-- Question Four -->
                <h3><strong>Question 4</strong></h3>
                <h5><strong>Do you like funky?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest4">
                <br>
                <br>
                <!-- Question Five -->
                <h3><strong>Question 5</strong></h3>
                <h5><strong>Do you like alcohol?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest5">
                <br>
                <br>
                <!-- Question Six -->
                <h3><strong>Question 6</strong></h3>
                <h5><strong>Do you like the taste of barrel?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest6">
                <br>
                <br>
                <!-- Question Seven -->
                <h3><strong>Question 7</strong></h3>
                <h5><strong>Do you like sour flavor?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest7">
                <br>
                <br>
                <!-- Question Eight -->
                <h3><strong>Question 8</strong></h3>
                <h5><strong>Do you like salty flavor?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest8">
                <br>
                <br>
                <!-- Question Nine -->
                <h3><strong>Question 9</strong></h3>
                <h5><strong>Do you like bitter flavor?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest9">
                <br>
                <br>
                <!-- Question Ten -->
                <h3><strong>Question 10</strong></h3>
                <h5><strong>Do you like sweet flavor?</strong></h5>
                <label for="customRange2">1-10</label>
                <input type="range" class="custom-range" min="0" max="10" id="quest10">
            </div>
            <br>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit" data-toggle="modal"
                data-target="#results-modal"><i class='fas fa-hands-helping' style='font-size:20px'></i> Submit
                Answers</button>

        </div>
    </div>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/quiz.js"></script>