<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <form action="/search-action" method="post">
                <div>
                    
                    <input type="text" name="search_word" />
                </div>
               
                <div>
                    <input type="submit" value="Search" />
                </div>
            </form>
    </div>
  </div>
  <div>
    <h3>Results:</h3>
    <p id="results-list">{{search}} </p>

  </div>
</div>

{{!-- <script src="js/search.js"></script> --}}